<div class="container game-container">
    <div ng-show="showbar">
        <timer interval="1000" countdown="60" finish-callback="finished()" ng-hide="showError">
            <div class="progress progress-striped active countdown-bar">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width: {{ (seconds == 0) && '0' || (100 - ( seconds / 60 * 100 ))}}%;"></div>
            </div>
        </timer>
        <br>
        <div class="choices">
            <a ng-class="getClass($index)" ng-repeat="choice in choices" ng-click=pickChoice($index)>{{choice.nom}}</a>
        </div>
        <div class="clear"></div>
        <div class="score">
            <!-- {{score}} -->
        </div>
        <div class="alert alert-danger" role="alert" ng-show="showError">Game data is not loaded! Go back to <a href="#/lobby">lobby!</a> 
        </div>

    </div>
    <div class="animate-show" ng-show="endGameMessage">
        <div class="alert alert-success">{{endGameMessage}}</div>
        <a href="#/lobby" class="btn btn-primary">Retournez au lobby</a>
    </div>
</div>
