<div class="container game-container">
    <div ng-show="showbar">
        <div class="both-score-container" ng-hide="showError">
            <div class="score-animation-container">
                <div class="score-animation" ng-class="getScoreClass()"><span>{{displayLastScore}}</span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="livescore">
                <span class="score" ng-class="getStaticScoreClass()">{{score}}</span>
            </div>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>
        <timer interval="1000" countdown="60" finish-callback="finished()" ng-hide="showError">
            <div class="progress progress-striped active countdown-bar mybar">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width: {{ (seconds == 0) && '0' || (100 - ( seconds / 60 * 100 ))}}%;"></div>
            </div>
        </timer>
        <br>
        <div class="choices">
            <a class="btn animate-repeat" ng-class="getClass($index)" quick-ng-repeat="choice in choices"
            quick-repeat-list="choices" ng-click="pickChoice($index)" ng-cloak>{{choice.nom}}</a>
        </div>

        <div class="clear"></div>
        <div class="map" ng-hide="showError">
            <img ng-src="{{gmURL}}" alt="map" ng-show="map1"/>
            <img ng-src="{{gmURL2}}" alt="map" ng-hide="map1" />
        </div>
        <div class="alert alert-danger" role="alert" ng-show="showError">Game data is not loaded! Go back to <a href="#/lobby">lobby!</a> 
        </div>

    </div>
    <div class="animate-show" ng-show="endGameMessage">
        <div class="alert alert-success">{{endGameMessage}}</div>
        <a href="#/lobby" class="btn btn-primary">Retournez au lobby</a>
    </div>
</div>
