<div class="container lobby-container">
    <div class="page-header">
        <h1>Lobby</h1>
    </div>
    <div id="spinner" us-spinner="{radius:30, width:8, length: 16}"></div>
    <!-- <div class="alert alert-info instructions" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare metus a velit sollicitudin tincidunt. Fusce in nibh vehicula, feugiat elit sit amet, aliquet tellus</div> -->
    <div class="highscores">
        <table class="table table-stripped">
            <tr>
                <th>
                    Joueur
                </th>
                <th>
                    Score total
                </th>
                <th>
                    Parties jouees
                </th>
                <th>
                    Score moyen
                </th>
            </tr>
            <tr>
                <td>
                    test
                </td>
                <td>
                    test
                </td>
                <td>
                    test
                </td>
                <td>
                    test
                </td>
            </tr>
        </table>
    </div>
    <!-- <img src="http://maps.googleapis.com/maps/api/staticmap?center=0,0&zoom=2&format=png&sensor=false&size=640x480&maptype=roadmap&style=feature:administrative.locality|visibility:off"></img> -->

</div>
